on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "*"

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nimversion:
          - '2.2.6'
        os:
          - ubuntu-24.04
    steps:
    - uses: actions/checkout@v1

    - uses: iffy/install-nim@v4
      with:
        version: ${{ matrix.nimversion }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Cache packages
      uses: actions/cache@v3
      with:
        path: deps/
        key: ${{ runner.os }}-${{ hashFiles('figdraw.nimble') }}

    - name: Install Atlas
      run: |
        nimble install 'https://github.com/nim-lang/atlas@#head'
        echo "Nim:: "
        nim -v
        echo "Atlas:: "
        atlas -v

    - name: Install Deps
      run: |
        atlas install --feature:test

    - name: Build Tests
      run: |
        nim test
